@model List<tender.Models.Tenders>
@{
    ViewBag.Title = "Tenders";
}


@* Html code for show nav menu here, for mak the application simple
    I will add ngapp and ngcontroller here *@
<div ng-app="appClient">
    <div ng-controller="menuController">
        @* Here first of all we will create a ng-template *@
        <script type="text/ng-template" id="treeMenu">
            <a href="{{menu.Url}}">{{menu.Name}}</a>
            @* We will create submenu only when available *@
            <ul ng-if="(ClientMenu | filter:{ParentId : menu.ID}).length > 0">
                @*<li ng-repeat="menu in ClientMenu | filter:{ParentId : menu.ID}" ng-include="'treeMenu'"></li>*@
                <li ng-repeat="menu in ClientMenu | filter:{ParentId : menu.ID} : true" ng-include="'treeMenu'"></li>
            </ul>
        </script>
        <ul class="main-navigation">
            @* Here we will load only top level menu *@
            @*<li ng-repeat="menu in ClientMenu | filter:{ParentId : 0}" ng-include="'treeMenu'"></li>*@
            <li ng-repeat="menu in ClientMenu | filter:{ParentId : 0} : true" ng-include="'treeMenu'"></li>
        </ul>
    </div>
</div>
@* Add css here for nav menu *@
<link href="~/css/ClientMenu.css" rel="stylesheet" />

@* add js here for angular app *@
@section Scripts{
    <script src="~/Scripts/appClient.js"></script>
}




<link href="~/css/navMenu.css" rel="stylesheet" />


<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script src="~/Scripts/myScripts.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" />
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link type="text/css" href="css/bootstrap.min.css" />
<link type="text/css" href="css/bootstrap-timepicker.min.css" />
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/bootstrap-timepicker.min.js"></script>

<script type="text/javascript"
        src="http://tarruda.github.com/bootstrap-datetimepicker/assets/js/bootstrap-datetimepicker.min.js">
</script>
<script type="text/javascript"
        src="http://tarruda.github.com/bootstrap-datetimepicker/assets/js/bootstrap-datetimepicker.pt-BR.js">
</script>
</head>
<div>
    <h2>מכרזים</h2>

    <table class="table table-responsive" id="t01">
        <tr>
            <td></td>
            <td></td>
            <td>סטטוס</td>
            <td>סכום לתשלום</td>
            <td>תאריך ההגשה</td>
            <td>תאריך פרסום</td>
            <td>יחידת מפרסמת</td>
            <td>מספר מכרז</td>
            <td>שם מכרז</td>
        </tr>

        @foreach (var item in Model)
        {
            if ((item.status.Contains("פעיל") || (item.status.Contains("עתידי")) && (item.numType == 1)))
            {
                //engilsh
                <tr class="mycontainer" id="mainrow">
                    @*<a href="/Suggestions/Suggestions?numtender=2">*@

                    <td>
                        @{
                            string href = "Suggestions?id=" + item.numTender;
                            <a href=@href>ראה הצעות</a>

                        }

                    </td>

                    <td>
                        @{
                            href = "../Suggestions/Suggestions?id=" + item.numTender;
                            <a href=@href>הצע מחיר</a>
                        }
                    </td>

                    <td>
                        @item.status
                    </td>
                    <td>
                        מכרז אנגלי
                    </td>
                    <td>
                        @item.till
                    </td>
                    <td>
                        @item.from
                    </td>
                    <td>
                        @item.codCategory
                    </td>

                    <td>
                        @item.numTender
                    </td>

                    <td>
                        @item.name
                    </td>



                </tr>
                                }
                            }
        
                            @foreach (var item in Model)
                            {
                                if ((item.status.Contains("פעיל") || (item.status.Contains("עתידי")) && (item.numType == 2)))
                                {
                <tr class="mycontainer" id="mainrow">
                    @*<a href="/Suggestions/Suggestions?numtender=2">*@

                    <td>
                        @{
                            string href = "Suggestions?id=" + item.numTender;
                            <a href=@href>ראה הצעות</a>

                        }

                    </td>
                
                    <td>
@{
    href = "../Suggestions/HollandSuggest?id=" + item.numTender;
                        <a href=@href>הצע מחיר</a>
  }
                                      </td>

                        <td>
                            @item.status
                        </td>
                        <td>
                            מכרז הולנדי
                        </td>
                        <td>
                            @item.till
                        </td>
                        <td>
                            @item.from
                        </td>
                        <td>
                            @item.codCategory
                        </td>

                        <td>
                            @item.numTender
                        </td>

                        <td>
                            @item.name
                        </td>



</tr>
                }
                }
        
            </table>

        </div>

<link href="~/css/navMenu.css" rel="stylesheet" />
